<h2>Edit Task</h2>
<a href="{% url 'task_list' %}" class="btn btn-primary">Go back</a>
<form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Update Task</button>
</form>
{% if form.errors %}
<div class="alert alert-danger">
    <strong>Error(s):</strong>
    <ul>
        {% for field, error_list in form.errors.items %}
        {% for error in error_list %}
        <li>{{ field }}: {{ error }}</li>
        {% endfor %}
        {% endfor %}
    </ul>
</div>
{% endif %}